*.py[co]
*.DS_*
# Packages
dist
build
.eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
UNKNOWN.egg-info/

# migrations
migrations

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
.cache
coverage.xml
htmlcov/

# Translations
*.mo

# Dev
.env
.idea
.vscode
env
template.json
/server/app/data

# Production Settings
/server/app/table_mappings.py
